<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CIMOB</title>

    @Html.Partial("_Favicons")
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/jquery-ui-1.12.1/jquery-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="~/styles/autenticacao.css">
    
    <script src="~/lib/jquery-3.2.1/jquery-3.2.1.min.js"></script>
    <script src="~/lib/jquery-ui-1.12.1/jquery-ui.min.js"></script>
    <script src="~/lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    
    <script src="~/js/site.js"></script>
</head>
<body>
    <div id="topo">
        <div class="container custom">
            <div class="col-sm-7 col-md-9 ">
                <h1>@ViewData["Titulo"] <img src="~/images/help2.png" class="icon help" data-toggle="modal" data-target="#ModalAjuda" /> </h1>
            </div>
            <div class="col-sm-5 col-md-3">
                <a href="@Url.Action("Login", "Account")"><img id="logo" src="~/images/logo.png" alt="logo" /></a>
            </div>
        </div>
    </div>
    <div id="autenticacao">
        <div class="container" id="mg">
            <div class="row">
                @{
                    if (TempData["Message"] != null)
                    {
                        <div class="alert alert-success alert-dismissable">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong>Sucesso!</strong><br /> @TempData["Message"]
                        </div>
                    }

                    if (ViewData["Error_Code"] != null)
                    {
                        <div class="alert alert-danger alert-dismissable">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong>ERRO @ViewData["Error_Code"] - </strong> @ViewData["Error_Message"]
                        </div>
                    }
                }
                <div class="col-sm-6 col-md-5 col-lg-4">
                    <!--<div asp-validation-summary="All" class="text-danger"></div>-->
                    @RenderBody()
                </div>
            </div>
        </div>
        <img id="autenticacaoImg" class="img-responsive" src="~/images/autenticacao.png" />
    </div>
    @Html.Partial("_HelpModal")
    <script type="text/javascript" src="~/js/site.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
