@model cimobgrupo2.Models.EscolaParceira

@{
    ViewData["Titulo"] = "Nova Escola Parceira";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form asp-action="Adicionar">
    <div class="col-md-3 col-lg-3">

        <div class="form-group">
            <label asp-for="Nome" class="control-label"></label>:
            <input asp-for="Nome" class="form-control" data-toggle="tooltip" data-placement-md="right" data-placement-xs="top" title="@ViewData["Nome"]"/>
            <span asp-validation-for="Nome" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Pais" class="control-label"></label>:
            <select asp-for="Pais" class="form-control"
                    asp-items="@(new SelectList(ViewBag.CountryList))" data-toggle="tooltip" data-placement-md="right" data-placement-xs="top" title="@ViewData["Pais"]"></select>
            <span asp-validation-for="Pais" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Localidade" class="control-label"></label>:
            <input asp-for="Localidade" class="form-control" data-toggle="tooltip" data-placement-md="right" data-placement-xs="top" title="@ViewData["Localidade"]"/>
            <span asp-validation-for="Localidade" class="text-danger"></span>
        </div>

    </div>

    <div class="col-md-12 col-lg-12 botoes">
        <button type="submit" class="pull-right" id="btnConfirmar" style="margin-bottom: 20px;">Confirmar</button>
        <button type="button" onclick="location.href='@Url.Action("Index", "EscolasParceiras")'" class="pull-right" id="btnVoltar">Voltar</button>
    </div>
</form>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
   



<!--script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places"></!script>
<script type="text/javascript">

    google.maps.event.addDomListener(window, 'load', function () {
        var options = {
            types: ['(cities)'],
            componentRestrictions: { country: "pt" }
        };

        var input = document.getElementById('Pais');
        var places = new google.maps.places.Autocomplete(input, options);


    });
</script-->
  
}
