@model cimobgrupo2.Models.EscolaParceira
@{
    ViewData["Titulo"] = "Detalhes de Escola Parceira";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-3 col-lg-3 left-info">
    <table id="table-info">
        <tr>
            <td><strong>Escola Parceira: </strong></td>
            <td>@Html.DisplayFor(model => model.Nome)</td>
        </tr>
        <tr>
            <td><strong>@Html.DisplayNameFor(model => model.Pais): </strong></td>
            <td>@Html.DisplayFor(model => model.Pais)</td>
        </tr>
        <tr>
            <td><strong>@Html.DisplayNameFor(model => model.Localidade): </strong></td>
            <td>@Html.DisplayFor(model => model.Localidade)</td>
        </tr>

    </table>
</div>

<div class="col-md-9 col-lg-9">
    <p class="sec-title"><span class="glyphicon glyphicon-book"></span><strong> Cursos Disponíveis:</strong></p>
    <div class="table-responsive">
        <table class="table table-striped table-bordered" id="tabela-cursos">
            <thead>
                <tr>
                    <th>
                        Curso
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Cursos.ToList())
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Curso.Nome)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="col-md-12 col-lg-12">
    <button type="button" onclick="location.href='@Url.Action("Eliminar", "EscolasParceiras")'" class="pull-right" id="btnEliminar" style="margin-bottom: 20px;">Eliminar</button>
    <button type="button" onclick="location.href='@Url.Action("Editar", "EscolasParceiras")'" class="pull-right" id="btnEditar">Editar</button>
    <button type="button" onclick="javascript:history.back(); return false;" class="pull-right" id="btnVoltar">Voltar</button>
</div>