@model cimobgrupo2.Models.ChartViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Titulo"] = "Dashboard";
}

<style>
    .chart {
        border-left: 1px solid grey;
        border-radius: 4px;
        padding-left: 10px;
    }
</style>

<div class="row">
    <div class="col-lg-6">


        <center><text class="high-charts-title" style="color:#333333;font-size:20px;fill:#333333; font-weight:500">Últimas Candidaturas</text></center>
        <table class="table table-striped table-bordered" id="tabela-ultimas" style="margin-top: 20px">
            <thead>
                <tr>
                    <th>
                        Candidato
                    </th>
                    <th>
                        Programa
                    </th>
                    <th>
                        Escola
                    </th>
                    <th>
                        Curso
                    </th>
                    <th>
                        Estado
                    </th>
                    <th class="text-center">#</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Candidaturas)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Programa.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EscolaParceira.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Curso.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Estado.Nome)
                        </td>
                        <td class="text-center">
                            <a asp-controller="Candidaturas" asp-action="Detalhes" asp-route-id="@item.CandidaturaId">+ info</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <a class="pull-right" style="margin-right: 5px; margin-top: -5px" asp-action="Index" asp-controller="Candidaturas">ver mais</a>

    </div>

    <div class="col-lg-6">
        <div class="chart" id="chart2"></div>
    </div>

</div>


<script>
    $(function () {
        Highcharts.chart('chart2', {
            credits: {
                enabled: false

            },
            exporting: { enabled: false },
            chart: {
                type: 'column'
            },
            title: {
                text: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Titulo))
            },
            xAxis: {
                categories: @Html.Raw(Json.Serialize(Model.Programas)),
                crosshair: true
            },
            yAxis: {
                min: 0,
                allowDecimals: false,
                title: {
                    text: 'Número de Candidaturas'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.0f}</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                name: 'Total',
                data: @Html.Raw(Json.Serialize(Model.Totais))

            }, {
                name: 'Pendentes',
                data: @Html.Raw(Json.Serialize(Model.Pendentes))

            }, {
                name: 'Aceites',
                data: @Html.Raw(Json.Serialize(Model.Aceites))

            }, {
                name: 'Recusadas',
                data: @Html.Raw(Json.Serialize(Model.Recusadas))

            }]
        });
});

</script>