@model IEnumerable<cimobgrupo2.Models.Candidatura>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Curso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EscolaParceira)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Programa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Curso.CursoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EscolaParceira.EscolaParceiraId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado.EstadoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Programa.ProgramaId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CandidaturaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CandidaturaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CandidaturaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
