@using cimobgrupo2.Models
@model IEnumerable< cimobgrupo2.Models.Entrevista>
@{
    ViewData["Titulo"] = "Lista de Entrevistas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_ResultMessage")

<table class="table table-striped table-bordered" id="tabela-marcarEntrevista">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Candidatura.User)   
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Candidatura.Programa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataEntrevista)
            </th>
            <th>
              @Html.DisplayNameFor(model => model.HoraEntrevista)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Avaliacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr> 
            <td>
                @Html.DisplayFor(modelItem => item.Candidatura.User.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Candidatura.Programa.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataEntrevista)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraEntrevista)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Avaliacao)
            </td>
            <td>                
                <a asp-action="DetalhesEstudante" asp-route-id="@item.EntrevistaId">Detalhes</a>

            </td>
        </tr>
}
    </tbody>
</table>

    














        

