@model IEnumerable<cimobgrupo2.Models.Candidatura>
@{
    ViewData["Titulo"] = "Lista de Candidaturas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_ResultMessage")

<table class="table table-striped" id="tabela-candidaturas">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Programa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EscolaParceira)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Curso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Programa.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EscolaParceira.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Curso.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado.Nome)
                </td>
                <td>
                    <a asp-action="Detalhes" asp-route-id="@item.CandidaturaId">Detalhes</a>
                </td>
            </tr>
            }
    </tbody>
</table>

<div class="col-md-12 col-lg-12 botoes">
    <a type="button" data-target="#publicarResultados" data-toggle="modal" class="button pull-right" id="btnPublicar" style="margin-bottom: 20px;">Publicar Resultados</a>
</div>

<div class="modal fade" id="removerCandidatura" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>

<div class="modal fade" id="publicarResultados" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form class="form-horizontal" role="form" asp-action="PublicarResultados" method="POST" id="PublicarForm">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Publicar Resultados</h4>
                </div>
                <div class="modal-body">
                    <label>Seleccione os programas cujos resultados pretende publicar:</label>
                    <table class="table table-striped table-bordered" id="tabela-publicarResultados">
                        <thead>
                            <tr>
                                <th>
                                    Nome
                                </th>
                                <th>
                                    Duração
                                </th>
                                <th>
                                    Escolas Disponíveis
                                </th>
                                <th>
                                    Número de Candidatos
                                </th>
                                <th class="text-center">
                                    #
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Programa item in ViewBag.ProgramasPublicar)
                            {
                                <tr>
                                    <td>
                                        <a asp-action="Detalhes" asp-controller="Programas" asp-route-id="@item.ProgramaId">@Html.DisplayFor(modelItem => item.Nome)</a>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Duracao)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EscolasParceiras.Count)
                                    </td>
                                    <td>
                                        12
                                    </td>
                                    <td class="text-center">
                                        <input name="programasPublicar[]" type="checkbox" value="@item.ProgramaId">
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    <button id="btnConfirmar" type="submit" class="btn btn-primary">Confirmar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#tabela-candidaturas').DataTable({
            "language": {
                "url": "/lib/DataTables/pt.json"
            }
        }); 
    });

    $(function () {
        $('#removerCandidatura').on('hidden.bs.modal', function () {
            // remove the bs.modal data attribute from it
            $(this).removeData('bs.modal');
            // and empty the modal-content element
            $('#removerCandidatura .modal-content').empty();
        });
    });
</script>