@model IEnumerable<cimobgrupo2.Models.Candidatura>
@{
    ViewData["Titulo"] = "Lista de Candidaturas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_ResultMessage")

<table class="table table-striped" id="tabela-candidaturas">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Programa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EscolaParceira)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Curso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Programa.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EscolaParceira.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Curso.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado.Nome)
                </td>
                <td>
                    <a asp-action="Detalhes" asp-route-id="@item.CandidaturaId">Detalhes</a>
                </td>
            </tr>
            }
    </tbody>
</table>

<div class="modal fade" id="removerCandidatura" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#tabela-candidaturas').DataTable({
            "language": {
                "url": "/lib/DataTables/pt.json"
            }
        });
    });

    $(function () {
        $('#removerCandidatura').on('hidden.bs.modal', function () {
            // remove the bs.modal data attribute from it
            $(this).removeData('bs.modal');
            // and empty the modal-content element
            $('#removerCandidatura .modal-content').empty();
        });
    });
</script>