@model cimobgrupo2.Models.Programa
@{
    ViewData["Titulo"] = "Detalhes de Programa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-3 col-lg-3 left-info">
    <table id="table-info">
        <tr>
            <td><strong>Programa: </strong></td>
            <td>@Html.DisplayFor(model => model.Nome)</td>
        </tr>
        <tr>
            <td><strong>@Html.DisplayNameFor(model => model.Duracao): </strong></td>
            <td>@Html.DisplayFor(model => model.Duracao)</td>
        </tr>
        <tr>
            <td><strong>Edital: </strong></td>
            <td>
                @{
                    if (ViewBag.Edital != null)
                    {
                        <a asp-action="Download" asp-controller="File" asp-route-path="@ViewBag.Edital.Path">@ViewBag.Edital.Name</a>
                    }
                    else
                    {
                        <span>(Nenhum)</span>
                    }
                }

            </td>
        </tr>

    </table>
    <p><strong>Documentos Necessários:</strong></p>
    @{
        if (ViewBag.Documentos.Count > 0)
        {


            <table class="table table-striped table-bordered">
                <tbody>
                    @{
                        foreach (var item in ViewBag.Documentos)
                        {
                            <tr>
                                <td>
                                    @item.Name
                                </td>
                                <td class="text-center"><a asp-action="Download" asp-controller="File" asp-route-path="@item.Path"><span class="glyphicon glyphicon-download"></span></a></td>
                            </tr>

                        }
                    }
                </tbody>
            </table>
                        }
                        else
                        {
                            <p>(Nenhum)</p>

                        }
    }




    <p><strong>@Html.DisplayNameFor(model => model.Descricao):</strong></p>
    <p style="text-align:justify;">@Html.DisplayFor(model => model.Descricao)</p>
</div>

<div class="col-md-9 col-lg-9">
    <p class="sec-title"><span class="glyphicon glyphicon-education"></span><strong> Escolas Disponíveis:</strong></p>
    <div class="table-responsive">
        <table class="table table-striped table-bordered" id="tabela-escolas">
            <thead>
                <tr>
                    <th>
                        Nome
                    </th>
                    <th>
                        País
                    </th>
                    <th>
                        Localidade
                    </th>
                    <th>
                        Cursos
                    </th>
                    <th>
                        Vagas
                    </th>
                    <th class="no-sort"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.EscolasParceiras.ToList())
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.EscolaParceira.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EscolaParceira.Pais)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EscolaParceira.Localidade)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EscolaParceira.Cursos.Count)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NumeroVagas)
                        </td>
                        <td class="text-center">
                            <a asp-action="Detalhes" asp-controller="EscolasParceiras" asp-route-id="@item.EscolaParceiraId">Detalhes</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="col-md-12 col-lg-12">
    <a type="button" href="@Url.Action("RemoverModal", "Programas", new { Id = Model.ProgramaId })" data-target="#removerPrograma" data-toggle="modal" class="button pull-right" id="btnEliminar">Eliminar</a>
    <button type="button" onclick="location.href='@Url.Action("Editar", "Programas", new { Id = Model.ProgramaId })'" class="pull-right" id="btnEditar">Editar</button>
    <button type="button" onclick="javascript:history.back(); return false;" class="pull-right" id="btnVoltar" style="margin-bottom: 20px;">Voltar</button>
</div>

<div class="modal fade" id="removerPrograma" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>
