@model IEnumerable<cimobgrupo2.Models.Curso>
@{
    ViewData["Titulo"] = "Lista de Cursos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_ResultMessage")

<table class="table table-striped" id="tabela-cursos">
    <thead class="thead-inverse">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th class="no-sort"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td class="text-center">
                    <a asp-action="EditarCursoModal" data-target="#editarCurso" data-toggle="modal" asp-route-id="@item.CursoId">Editar</a> |
                    <a asp-action="RemoverCursoModal" data-target="#editarCurso" data-toggle="modal" asp-route-id="@item.CursoId">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="col-md-12 col-lg-12 botoes">
    <a type="button" href="@Url.Action("NovoCursoModal", "Cursos")" data-target="#novoCurso" data-toggle="modal" class="button pull-right" id="btnCriar" style="margin-bottom: 20px;">Novo Curso</a>
</div>

<div class="modal fade" id="novoCurso" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>

<div class="modal fade" id="editarCurso" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>

<div class="modal fade" id="removerCurso" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
    $('#tabela-cursos').DataTable();
    });

    $(function () {
        // when the modal is closed
        $('#editarCurso').on('hidden.bs.modal', function () {
            // remove the bs.modal data attribute from it
            $(this).removeData('bs.modal');
            // and empty the modal-content element
            $('#editarCurso .modal-content').empty();
        });

        $('#removerCurso').on('hidden.bs.modal', function () {
            // remove the bs.modal data attribute from it
            $(this).removeData('bs.modal');
            // and empty the modal-content element
            $('#removerCurso .modal-content').empty();
        });
    });
</script>
